@import 'normalize.css';

html,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: pink;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
}

.cell {
  width: 1%;
  float: left;
  background-color: white;
  border: 1px solid #f1f1f1;
}

.cell:hover {
  background-color: silver;
}

.cell.selected {
  background-color: black;
}

.cell:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
